body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  position: relative;
  min-height: 56px;

  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0;

  list-style: none;
}

.site-nav li {
  width: 20%;
}

.site-nav li:first-of-type {
  margin-left: 6%;
  margin-right: 0;
}

.site-nav li:nth-of-type(3){
  margin-left: 8%;
  margin-right: 0;

  text-align: right;
}

.site-nav li:last-of-type {
  margin-left: 0;
  margin-right: 6%;

  text-align: right;
}

.site-nav a,
.site-nav a:visited {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.site-nav-current,
a.site-nav-current:hover,
a.site-nav-current:active {
  color: #766357;
}

.intro {
  text-align: center;
  padding-bottom: 50px;

  background-color: #ffffff;
}

.intro b {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 0;
  width: 450px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.intro p {
  margin: 0 auto;
  padding: 0 0;
  line-height: 26px;
}

.intro::before {
  content: "";
  display: block;
  min-width: 768px;
  max-width: 1200px;
  height: 508px;
  margin-bottom: 60px;

  background-color: #81b3d2;
  background-image: url("../img/intro-text.png"),
                    url("../img/intro-shape.png"),
                    url("../img/intro-bg.jpg");
  background-size: auto auto,
                   contain,
                   cover;
  background-position: 50% 76px,
                       50% 100%,
                       50% 0;
  background-repeat: no-repeat,
                     no-repeat,
                     no-repeat;
}

.features-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  list-style: none;
  background-color: #eeeeee;
}

.extra-features {
  display: flex;
  justify-content: center;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  list-style: none;
  background-color: #ffffff;
}

.features-list::before {
  content: "";
  display: block;
  width: 67%;
  min-height: 256px;

  background-image: url("../img/item-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-list::after {
  content: "";
  display: block;
  order: 1;
  width: 67%;
  min-height: 256px;

  background-image: url("../img/item-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feature-item {
  width: 33%;
  min-height: 256px;

  text-align: center;
}

.feature-item:first-child {
  order: -1;
}

.feature-item:nth-child(2) {
  width: 100%;
}

.feature-item:nth-child(3) {
  order: 2;
}

.feature-item:nth-child(4) {
  order: 3;
}

.feature-item:nth-child(5) {
  order: 4;
}

.feature-item:nth-child(6) {
  order: 5;
}

.feature-item h3 {
  margin: 45px auto 25px;
  padding: 0 0;
  max-width: 160px;

  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item-blue,
.feature-item-blue h3 {
  color: #ffffff;
}

.feature-item p {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 0;
  max-width: 305px;
}

.feature-item-grey p {
  max-width: 270px;
}

.feature-item-blue {
  background-color: #81b3d2;
}

.feature-item-grey {
  background-color: #eeeeee;
}

.extra-features .feature-item {
  width: 33%;
  min-height: 330px;

  background-color: #ffffff;
}

.extra-features .feature-item h3 {
  margin-top: 0;
}

.feature-item-living::before {
  content: "";
  display: block;
  margin: 60px auto 32px;
  width: 75px;
  height: 75px;

  background-image: url("../img/icon-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-item-food::before {
  content: "";
  display: block;
  margin: 60px auto 32px;
  width: 75px;
  height: 75px;

  background-image: url("../img/icon-3.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-item-souvenirs::before {
  content: "";
  display: block;
  margin: 60px auto 32px;
  width: 75px;
  height: 75px;

  background-image: url("../img/icon-2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hotels {
  margin: 0 0;
  padding: 0 0;
  padding-top: 50px;

  text-align: center;

  background-color: #ffffff;
}

.hotels h2 {
  margin: 0 0;
  padding: 0 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotels p {
  margin: 25px auto 45px;
  padding: 0 0;
  width: 440px;

  line-height: 24px;
}

a.hotel-search {
  display: block;
  width: 568px;
  min-height: 20px;
  margin: 0 auto;
  padding: 30px 0;
  vertical-align: middle;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  background-color: #766357;
}

a.hotel-search:hover,
a.hotel-search:focus {
  background-color: #604e43;
}

a.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map {
  position: relative;
  margin: 0 0;
  padding: 0 0;
  min-width: 768px;
  max-width: 1200px;
  min-height: 473px;
  text-align: center;
}

.map img {
  display: block;
  position: absolute;
  min-width: 768px;
  max-width: 1200px;
  left: 50%;
  margin-left: -600px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
}

.filter {
  display: flex;
  justify-content: left;
  padding: 29px 6% 0;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/filter-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.filter fieldset {
  padding: 0 0;
  border: none;
}

.filter fieldset:first-of-type {
  width: 160px;
}

.filter fieldset:nth-of-type(2) {
  width: 160px;
  margin-left: 10%;
}

.filter fieldset:last-of-type {
  margin-left: auto;
  width: 28%;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-input:hover, {
  color: #ffffff;
}

.filter-input:disabled {
  color: #6a6a6a;
}

.prices {
  min-width: 218px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.prices input {
  color: #ffffff;

  background: none;
  border: none;
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  align-items: baseline;
  margin: 0 0;
  padding: 33px 6%;

  color: #000000;
  border-bottom: 1px solid #e5e5e5;

  background-color: #ffffff;
}

.sorting h3 {
  margin: 0 0;
  padding: 0 0;
  min-width: 150px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting p {
  display: flex;
  margin: 0 0;
  margin-left: 15px;
  padding: 0 0;

  font-size: 12px;
  line-height: 18px;
}

.sorting a {
  margin-right: 32px;

  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:first-of-type {
  margin-left: 40px;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

a.sorting-active {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  margin: 0 0;

  list-style: none;

  background-color: #ffffff;
}

.catalog-item {
  margin: 0 0;
  padding: 0 6% 0;
  width: 100%;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item h3 {
  margin: 0 0;
  padding: 0 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-item a {
  color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #81b3d2;
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .button {
  color: #ffffff;
  font-weight: 700;
}

.catalog-item .button:visited {
  color: #ffffff;
}

.catalog-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-more {
  background-color: #81b3d2;
}

.button-more:hover {
  background-color: #669ec0;
}

.button-book {
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.catalog-item-rating {
  color: #666666;

  background-color: #f2f2f2;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0;

  background-color: rgba(254, 254, 254, 0.9);
}

.footer-hashtag {
  width: 33%;
  text-align: center;
  margin: 0 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 33%;
  text-align: center;
  margin: 0 0;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0;
  margin: 0 0;

  font-size: 0;
  list-style: none;
}

.footer-social li{
  margin-right: 6px;
}

.footer-social li:last-of-type {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color:  #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  width: 33%;
  text-align: center;
  margin: 0 0;
}

.logo-htmlacademy {
  width: 115px;
  height: 41px;
  margin-left: 6px;
  vertical-align: middle;

  fill: #231f20;
}

.logo-htmlacademy:hover {
  fill: #81b3d2;
}

.logo-htmlacademy:active {
  fill: #bdbbbc;
  opacity: 0.3;
}

.modal-search {
  margin: 0 auto;
  padding: 55px 0;
  width: 568px;
  min-height: 285px;

  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0;
  padding: 0 55px;
}

.login-form p {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 458px;
  margin: 0 0;
  margin-bottom: 30px;
  padding: 0 0;
}

.login-form .half-width {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 458px;
  margin: 0 0;
  padding: 0 0;
}

.login-form .half-width p {
  max-width: 225px;
  margin-bottom: 0;
}

.login-form .half-width p:last-child {
  max-width: 175px;
  padding-left: 50px;
}

.login-form input[type="text"] {
  width: 334px;
}

.login-form input[type="number"] {
  width: 102px;
}

.login-form input[type="text"],
.login-form input[type="number"] {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 0;

  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.login-form input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.login-form input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  width: 21px;
  height: 22px;
  margin: 0 0;
  padding: 0 0;

  background: none;
  border: none;
}

.calendar svg {
  fill: #a9a9a9;
}

.calendar svg:hover,
.calendar svg:focus {
  fill: #000000;
}

.calendar svg:active {
  fill: #81b3d2;
}

.modal-button {
  width: 458px;
  margin: 0 0;
  margin-top: 55px;
  padding: 19px 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #669ec0;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
